

<section class="min-h-screen flex flex-col md:flex-row">
  <!-- Left Column -->
  <div class="w-full md:w-2/10 bg-gray-500">
     <img
      src="assets/images/model1.png"
      alt="Left Image"
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Right Column -->
  <div
    class="w-full md:w-8/10 relative bg-gray-500 flex items-end md:items-center p-6 md:p-12"
  >
    <div class="w-full text-center md:text-left">
       <h1 class=" animate-fadeIn text-4xl sm:text-5xl font-extrabold text-white mb-6">
      Elevate Your Style with Eastlink Apparel
    </h1>
    <p class="text-lg sm:text-xl text-gray-50 mb-8">
      Discover sustainable, stylish clothing designed for comfort and confidence.
    </p>
    <a
      routerLink="/catalogue"
      class="inline-block bg-eastlink-blue text-white px-8 py-3 rounded-xl text-lg font-semibold hover:bg-blue-800 transition"
    >
      Shop Now
    </a>
    </div>
  </div>
</section>
